<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="santander.com.br.constentacao">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
       >

        <activity
            android:name=".features.motivo.view.MotivoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.home.view.QuizActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.resumo.view.ResumoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>